---
import "../styles/variables.css";
import "../styles/globals.css";

const {
  title = "Cava24 · Plataforma B2B de Vinos",
  description = "Demo creada para validación del proyecto Plataforma B2B de Vinos",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
